/* 폰트 */
@font-face {
    font-family: "Pretendard-Regular";
    src: url("/font/pretendard/3Pretendard-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard-Regular";
    src: url("/font/pretendard/4Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Pretendard-Regular";
    src: url("/font/pretendard/5Pretendard-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Pretendard-Regular";
    src: url("/font/pretendard/6Pretendard-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Pretendard-Regular";
    src: url("/font/pretendard/7Pretendard-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Pretendard-Regular";
    src: url("/font/pretendard/8Pretendard-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard-Regular";
    src: url("/font/pretendard/9Pretendard-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: "Pretendard-Regular";
}

/* 노말라이즈 */
body,ul,li,h1,h2,p,span {
    margin: 0;
    padding: 0;
    list-style: none;
    color: var(--black);
}

a {
    color: inherit;
    text-decoration: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

/* 변수 */
:root {
    --black: #333333;
    --main: #b2986d;
    --brand-color: #f27028;
    --view-more: #999999;
}

:root {
    --price-tag-1: #f27028;
    --price-tag-2: #9d9e4e;
    --price-tag-3: #878bbb;
    --price-tag-4: #4aacb9;
    --price-tag-5: #4a746a;
    --price-tag-6: #9abce2;
    --price-after-box: #8c8c8c;
    --price-detail-red: #f93d2c;
}

/* 라이브러리 */
.flex {
    display: flex;
}

.con {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.icon {
    display: inline-flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
}

.view-more {
    font-weight: 500;
    color: var(--view-more);
}

.brand-color {
    color: var(--brand-color);
}

.f-40-b {
    font-size: 40px !important;
    font-weight: 700 !important;
}

.main-color {
    color: var(--main);
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-box > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.s-title {
    display: flex;
    justify-content: space-between;
}

/* 공통 */
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 48px;
    font-weight: 800;
}

h2 {
    font-size: 32px;
    font-weight: 700;
}


img {
    display: block;  
    object-fit: cover;
}

/* 커스텀 */

/* 헤더탑 시작 */
.header-top {
    padding-top: 16px;
    padding-bottom: 8px;
}

.header-top > .con {
    justify-content: flex-end;
    gap: 40px;
}

.header-top > .con > a {
    font-size: 14px;
}

.header-top.hidden {
    display: none;
}
/* 헤더탑 끝 */

/* 헤더 시작 */
@media screen and  (max-width: 1260px) { 
    .header .logo {
        position: static !important;
        transform: translate(0) !important;
    }
}

@media screen and (min-width: 765px) and  (max-width: 1260px) {
    .header > .con {
        justify-content: space-between !important;
    }

    .header .logo > img {
        width: 280px;
    } 
}

@media screen and (max-width: 765px) {
    .header-top {
        display: none;
    }

    .header {
        display: block !important;
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 300;
        padding-bottom: 0 !important;
    }

    .header .con {
        display: block;
    }
    
    .header .logo > img {
        width: 200px;
    }

    .header .small-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .small-header .sub-menu {
        display: block;
    }
    
    .icons .search-box > input[type="text"] {
        max-width: 110px !important;
    }
    
    .menu-box  {
        display: none !important;
    }

    .main {
        margin-top: 140px !important;
    }
}


.header {
    padding: 16px 0;
    background-color: #fff;    
}

.header > .con {
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.header .logo {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .sub-menu {
    display: none;
    cursor: pointer;
}


.icons {
    align-items: center;
    gap: 24px;
}

.icons .search-box {
    align-items: center;
}

.icons .search-box.active {
    border: 1px solid var(--black);
    border-radius: 50px;
    padding: 3px 12px;
    height: 38px;
}

.icons .search-box > input[type="text"] {
    display: none;
    border: 0;  
    width: 160px;  
}

.icons .search-box > input[type="text"]:focus {
    outline: none;
}

.icons .search-box > input[type="text"].active {
    display: block;
}

.icons .search-box > button {
    border: 0px;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;
}


/* 헤더 끝 */

/* 메뉴박스 시작 */
.menu-box {
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}

.menu-box .logo-icon {
    width: 50px;
    height: 50px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu > li > a {
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
}

.menu-box .icons,
.logo-icon {
    display: none;
}


@media screen and (min-width: 765px) {
    .header.hidden {
        display: none;
    }

    .scroll-header.fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 300;
        width: 100%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        padding: 0;
        background-color: #fff;
        border: 0;
    }
    
    .scroll-header.fixed > .con {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .scroll-header.fixed > .con > div {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    .scroll-header.fixed .logo-icon {
        display: block;
    }
    
    .scroll-header.fixed .icons {
        display: flex;
    }

    .headerWrap .min-hight.visible {
        min-height: 150px;
        display: block;
    }
}

/* 메뉴박스 끝 */

/* min-height */
.headerWrap .min-hight {
    display: none;
}


/* 섹션 main 시작 */
.main {
    margin: 100px 0;
}

.main .title > span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
}

.main .brand {
    margin-top: 48px;
    gap: 60px;
}

.main .brand > .img-box {
    width: 776px;
    height: 517px;
}

.main .txt-box {
    align-self: center;
    padding: 40px 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.main .txt-box > div {
    text-align: center;
}

.main .txt-box > div:first-child > p:first-child {
    font-weight: 500;
    font-size: 20px;
}

.main .txt-box > div:first-child > p:last-child {
    font-weight: 600;
    font-size: 30px;
    margin-top: 12px;
}

.main .txt-box > div:first-child > p:last-child > span {
    font-weight: 900;
    color: #be4707;
}

.main .txt-box > div:nth-child(2) {
    margin: 64px 0;
}

.main .txt-box > div:nth-child(2) > p {
    font-size: 18px;
}

.main .txt-box > div:nth-child(2) > p:first-child {
    line-height: 1.4;
    margin-bottom: 20px;
}

.main .txt-box > div:last-child > p {
    font-size: 22px;
    font-weight: 500;
}

.main .txt-box > div:last-child > p > span {
    font-weight: 700;
}
/* 섹션 main 끝 */

/* 섹션 price 시작 */
.price {
    background-color: #fff9e8;
    padding: 96px 0;
}

.s-title > .view-more {
    display: inline-flex;
    gap: 2px;
    align-items: center;
}

.s-title > .view-more::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-image: url(/homebaristaimage/더보기arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
}

.price .price-tag {
    display: flex;
    gap: 12px;
    margin: 20px 0;
}

.price .price-tag > li {
    display: flex;
}

.price .price-tag > li > a {
    padding: 8px 14px;
    color: #fff;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
}

.price .price-tag > li:first-child > a {
    background-color: var(--price-tag-1);
}

.price .price-tag > li:nth-child(2) > a {
    background-color: var(--price-tag-2);
}

.price .price-tag > li:nth-child(3) > a {
    background-color: var(--price-tag-3);
}

.price .price-tag > li:nth-child(4) > a {
    background-color: var(--price-tag-4);
}

.price .price-tag > li:nth-child(5) > a {
    background-color: var(--price-tag-5);
}

.price .price-tag > li:last-child > a {
    background-color: var(--price-tag-6);
}

/* price-slider */
.price .slider-box {
    width: 100%;
    position: relative;
}

.price .slider-box .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 37px;
    height: 37px;
    padding: 12px 16px;
    background-color: #fff;
    border-radius: 100%;
    z-index: 50;
    border:1px solid red;
}

.price .slider-box .arrow-prev {
    left: 440px
}

.price .slider-box .arrow-next {
    right: 440px;
}

.price .slick {
    overflow: hidden;
}

.price .slick .item {
    background-color: #fff;
    padding: 28px;
    margin-right: 101px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.price .slick .item.slick-center {
    padding: 32px;     
    min-width: 484px;
}

.price .slick .item .img-box {
    width: 300px;
    height: 300px;
    position: relative;
}

.price .slick .item.slick-center .img-box {
    width: 420px;
    height: 420px;
}

.price .slick .item .after-box {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 12px 6px;
    background-color: #fff;
    border-radius: 4px;
    opacity: 80%;
    z-index: 30;
}

.price .slick .item .after-box .roasting {
    margin: 20px 0;
}

.price .slick .item.slick-center .after-box .roasting {
    margin: 24px 0;
}

.price .slick .item .after-box > div > span {
    display: block;
}

.price .slick .item .after-box > div > span:first-child {
    font-weight: 600;
    font-size: 11px;
    color: var(--price-after-box);
    margin-bottom: 2px;
}

.price .slick .item.slick-center .after-box > div > span:first-child {
    font-size: 14px;
}

.price .slick .item .after-box > div > span:last-child {
    font-weight: 700;
    font-size: 14px;
    color: var(--black);
}

.price .slick .item.slick-center .after-box > div > span:last-child {
    font-size: 17px;
}

.price .slick .item .item-body {
    margin-top: 24px;
}

.price .slick .item.slick-center .item-body {
    margin-top: 28px;
}

.price .slick .item .item-body .name > span {
    font-size: 18px;
    font-weight: 700;
}

.price .slick .item.slick-center .item-body .name > span {
    font-size: 24px;
}

.price .slick .item .item-body .name > p {
    margin-top: 4px;
    font-size: 11px;
    font-weight: 500;
    color: #b8b8b8;
}

.price .slick .item.slick-center .item-body .name > p {
    font-size: 15px;
}

.price .slick .item .item-body > .detail {
    margin-top: 16px;
}

.price .slick .item.slick-center .item-body > .detail {
    margin-top: 20px;
}

.price .slick .item .item-body > .detail > div {
    display: flex;
    justify-content: space-between;
}

.price .slick .item .item-body > .detail > div:nth-child(2) {
    margin: 4px 0;
}

.price .slick .item .item-body > .detail > div > span:first-child {
    font-size: 14px;
    font-weight: 500;
}

.price .slick .item.slick-center .item-body > .detail > div > span:first-child {
    font-size: 16px;
}

.price .slick .item .item-body > .detail > div > span:nth-child(2) {
    font-size: 14px;
    font-weight: 700;
    color: var(--price-detail-red);
}

.price .slick .item.slick-center .item-body > .detail > div > span:nth-child(2) {
    font-size: 16px;
}

.price .slick .item .item-body > .detail > div > .cart-box {
    display: flex;
    gap: 8px;
    background-color: var(--price-tag-1);
    padding: 4px 16px;
    border-radius: 4px;
}

.price .slick .item.slick-center .item-body > .detail > div > .cart-box {
    padding: 4px 30px;
}

.price .slick .item .item-body > .detail > div > .cart-box > span {
    color: #fff;
    font-size: 14px;
}

/* 섹션 price 끝 */

/* 섹션 review 시작 */
.review {
    margin: 90px 0;
}

.review .review-swiper {
    overflow: hidden;
    margin-top: 32px;
    padding: 8px 0;
}

.review .swiper-slide {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
}

.review .swiper-slide .img-box {
    width: 100%;
}

.review .swiper-slide .star-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
}

.review .swiper-slide .star-box > span:first-child {
    font-size: 14px;
    font-weight: 400;
}

.review .swiper-slide .txt-box {
    padding: 12px;
}
/* 섹션 reviw 끝 */


/* marquee-slide 시작 */
.marquee {
    padding: 60px 0;
    overflow: hidden;    
}

.marquee .scroll {
    display: flex;
    align-items: center;
    gap: 86px;
    animation: marquee 70s linear infinite ;
}

@keyframes marquee {
    0% {
        transform: translateX(35%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}
/* marquee-slide 끝 */



/* 원두협력업체company 시작 */
.company {
    margin: 100px 0;
}

.company .grid {
    margin-top: 32px;
    column-gap: 74px;
    row-gap: 32px;
}

.company .grid > li > a {
    width: 220px;
    height: 220px;    
    overflow: hidden;
    border-radius: 50px;
}
/* 원두협력업체company 끝 */


/* sns시작 */
.sns {
    padding-top: 60px;
    padding-bottom: 90px;
}

.sns .grid {
    gap: 72px;
    margin-top: 32px;
}

.sns .grid > li > a {
    display: flex;
    gap: 14px;
    align-items: center;
    padding: 20px 40px;
    border: 1px solid #DADADA;
    border-radius: 40px;
}

.sns .grid > li > a:hover span {
    text-decoration: underline;
}

.sns .grid > li > a > span {
    font-size: 18px;
    font-weight: 500;
}

.sns .grid > li > a::after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    margin-left: auto;
    background-image: url(/homebaristaimage/sns바로가기.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
}
/* sns 끝 */

/* footer 시작 */
footer {
    margin-bottom: 100px;
}

footer .f-top {
    padding: 24px 0;
    background-color: #CDBA9A;
}

footer .f-top > .con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .f-top ul {
    gap: 32px;
}

footer .f-top ul > li > a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

footer .f-bottom {
    margin-top: 76px;
}

footer .f-bottom > .con {
    display: flex;
    gap: 439px;
}

footer .f-bottom .info span {
    padding-right: 12px;
}

footer .f-bottom span, 
footer .f-bottom p {
    font-size: 14px;
    font-weight: 400;
}

footer .f-bottom .info a:hover {
    text-decoration: underline;
}

footer .f-bottom .info p > a {
    font-weight: 700;
}

footer .f-bottom .info > div {
    color: #9E9E9E;
    font-size: 14px;
    font-weight: 500;
    margin-top: 40px;
}

footer .f-bottom .bank > p {
    margin-top: 12px;
    margin-bottom: 4px;
}

footer .f-bottom .bank > p > span:first-child {
    font-size: 16px;
    font-weight: 500;
    margin-right: 4px;
}

footer .f-bottom .bank > p > span:last-child {
    font-size: 16px;
    font-weight: 700;
}

footer .f-bottom .bank > span:last-child {
    font-size: 14px;
    font-weight: 500;
}
/* footer 끝 */